
# host server ip
SERVER_IP={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}

# host name
SERVER_NAME={{ ansible_hostname }}-docker

CONTAINER_NET=172.25.0

# timezone
TZ='{{ timezone }}'

CACHE_SIZE=10000
DNS_BOGUS_PRIV=true
DNS_FQDN_REQUIRED=true
DNSMASQ_LISTENING=single
DNSSEC=false
TEMPERATUREUNIT=C

REV_SERVER=true
REV_SERVER_DOMAIN=fritz.box
REV_SERVER_TARGET={{ hostvars[inventory_hostname]['ansible_default_ipv4']['gateway'] }}
REV_SERVER_CIDR={{ (ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask) | ansible.utils.ipaddr('network/prefix') }}


# docker images
pihole_image="{{ pihole_image }}"
stubby_image="{{ stubby_image }}"
dnscrypt_image="{{ dnscrypt_image }}"

# pihole webpassword. set environment variable outside
PIHOLE_WEB_PASSWORD='{{ pihole_web_password }}'

# custom config
#DNSCRYPT_CONF=./config/dnscrypt-proxy-klutchell.toml
DNSCRYPT_CONF=./config/dnscrypt-proxy.toml

#STUBBY_CONF=./config/stubby-clouldflare.yml
STUBBY_CONF=./config/stubby-quad9.yml


